html {
  box-sizing: border-box;
  background-color: #dbd6cf;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  color: #fff;
  background-color: #79756f;
  text-align: center;
  border-top: 3px solid #595652;
  border-bottom: 3px solid #595652;
  margin: 0;
  width: 100%;
}

h1 {
  display: block;
  color: #fff;
  font-family: Bevan, serif;
  margin: .3em 0 0;
  padding: 0;
}

nav {
  display: inline-block;
  padding: .75em;
}

nav ul {
  display: inline-block;
  font-family: sans-serif;
  font-weight: bold;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul li {
  display: inline-block;
}

a {
  color: #fff;
  background-color: #713837;
  padding: .5em;
  margin: 0 .3em 0 0;
  border-radius: 4px;
  text-decoration: none;
}

a:hover {
  background-color: #f33;
  color: #fff;
}

ul li:last-child {
  margin-top: .3em;
}
